body {
    margin: 10px;
}

div.errorbox {
    border-color: #901010;
    border-style: solid;
    border-width: 2px 2px 2px 2px;

    background-color: #b09f9f;
    padding: 3px;
}

div.successbox {
    border-color: #109010;
    border-style: solid;
    border-width: 2px 2px 2px 2px;

    background-color: #9fb09f;
    padding: 3px;
}