# you should create these
# dirs yourself
hatena_storage/
crt/

src/ugoserver
tools/ntft/ntft
tools/npf/npf

tools/ntft/*.png
tools/ntft/*.ntft
tools/npf/*.png
tools/npf/*.npf

go.sum
tools/ntft/go.sum
tools/npf/go.sum

private/

static/images/ds/
