<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="http://{{.Root}}/css/ds/basic.css">
        <meta name="uppertitle" content="id">
    </head>
    
    <body>
        {{if eq .Return "error"}}
        <div class="errorbox">an error has occurred</div>
        {{else if eq .Return "invalid"}}
        <div class="errorbox">invalid password</div>
        {{else if eq .Return "success"}}
        <div class="successbox">you have successfully logged in</div>
        {{end}}

        welcome<br>
        {{if .Session.IsUnregistered}}
        since you don't have a user account yet, you'll need to register<br><br>
        click <a href="http://{{.Root}}/ds/v2-{{.Region}}/sa/register.kbd">here</a> and enter up a password to sign up
        {{else if not .Session.IsLoggedIn}}
        enter your password <a href="http://{{.Root}}/ds/v2-{{.Region}}/sa/login.kbd">here</a>
        {{else}}
        you are already logged in. if you were sent here, it's likely a bug
        {{end}}
    </body>
</html>