<!-- needs a lot of TLC -->
<html>
<head>
<link rel="stylesheet" href="http://{{.Root}}/css/ds/basic.css">

<meta name="upperlink" content="http://{{.Root}}/ds/v2-{{.Region}}/movie/{{.Movie.ID}}.ppm">
<meta name="savebutton" content="http://{{.Root}}/ds/v2-{{.Region}}/movie/{{.Movie.ID}}.ppm">

{{if .Session.IsLoggedIn}}
<meta name="starbutton" content="http://{{.Root}}/ds/v2-{{.Region}}/movie/{{.Movie.ID}}.star">
<meta name="starbutton1" content="http://{{.Root}}/ds/v2-{{.Region}}/movie/{{.Movie.ID}}.star/green,99">
<meta name="starbutton2" content="http://{{.Root}}/ds/v2-{{.Region}}/movie/{{.Movie.ID}}.star/red,99">
<meta name="starbutton3" content="http://{{.Root}}/ds/v2-{{.Region}}/movie/{{.Movie.ID}}.star/blue,99">
<meta name="starbutton4" content="http://{{.Root}}/ds/v2-{{.Region}}/movie/{{.Movie.ID}}.star/purple,99">
{{end}}

{{if eq .Session.UserID .Movie.AuUserID}}
<meta name="deletebutton" content="http://{{.Root}}/ds/v2-{{.Region}}/movie/{{.Movie.ID}}.delete">
{{end}}

<meta name="playcontrolbutton" content="1">
</head>

<body>
<span>
Template test
</span>
<br>
<span class="star0">{{.Movie.Ys}}</span><br>
<span class="star1">{{.Movie.Gs}}</span><br>
<span class="star2">{{.Movie.Rs}}</span><br>
<span class="star3">{{.Movie.Bs}}</span><br>
<span class="star4">{{.Movie.Ps}}</span><br>
<br>
<span>info:</span>
<table>
<tr>
<td>id</td>
<td>{{.Movie.ID}}</td>
</tr>
<tr>
<td>author</td>
<td>{{.Movie.AuUserID}}</td>
</tr>
<tr>
<td>downloads</td>
<td>{{.Movie.Downloads}}</td>
</tr>
<tr>
<td>views</td>
<td>{{.Movie.Views}}</td>
</tr>
</table>
<br>
<a href="http://{{.Root}}/ds/v2-{{.Region}}/movie/{{.Movie.ID}}.htm?mode=comment&page=1">Comments ({{ .Movie.Replies }})</a>
</body>
</html>