@charset "UTF-8";
body {
    margin: 0;
    padding: 0;
}

div.errorbox {
    border-color: #901010;
    border-style: solid;
    border-width: 2px 2px 2px 2px;

    background-color: #b09f9f;
    padding: 3px;
}

div.successbox {
    border-color: #109010;
    border-style: solid;
    border-width: 2px 2px 2px 2px;

    background-color: #9fb09f;
    padding: 3px;
}

div.main {
    margin: 3px;
}


/* pulled from original assets, because flipnote css is an enigma */

/* bottom screen top tabs*/
div.on {
    padding: 2px 5px 2px 5px;
}

td.tabon {
    color: #282828;
}

td.taboff {
    color: #282828;
    background-color: #000000;
}

td.border {
    background-color: #000000;
}

td.space {
    background-color: #000000;
}

div.border {
    border-style: solid;
    border-width: 0 0 5px 0;
    background-color: #000000;
}

a.taboff {
    color: #ffffff;
}


/* stars */
/* spans for star count, gets modified by flipnote*/
span.star0 {
    color: #fdc556; /* yellow */
}
span.star1 {
    color: #138200; /* green */
}
span.star2 {
    color: #ff455c; /* red */
}
span.star3 {
    color: #00b0f9; /* blue */
}
span.star4 {
    color: #a411b9; /* purple */
}
/* spans for the star symbol */
span.star0c {
    color: #fdc556; /* yellow */
}
span.star1c {
    color: #138200; /* green */
}
span.star2c {
    color: #ff455c; /* red */
}
span.star3c {
    color: #00b0f9; /* blue */
}
span.star4c {
    color: #a411b9; /* purple */
}

/* bottom screen details */
table.detail {
    margin: 0 7px 0 7px;
}

div.item-term {
    padding:3px 0 3px 5px;
}

div.item-value {
    padding:3px 5px 3px 0;
}

div.item-text {
    padding:3px 5px 3px 15px;
}

div.item-tcom {
    padding: 3px 5px 0 5px;
}

div.item-com {
    padding: 0 5px 0 5px;
}

div.hr {
    border-style: solid;
    border-width: 0 0 1px 0;
    border-color: #cccccc;
}